<!DOCTYPE html>
<html>

<head>

  <title>WebTutsPlus WebCon</title>
  <meta name="viewport" content="width=device-width, initial-scale=1.0">

  <link href="https://fonts.googleapis.com/css2?family=Baloo+Tamma+2:wght@400;500;600&family=Josefin+Slab&display=swap"
    rel="stylesheet">

</head>

<body class="h-100">
  <div class="h-100" id="video_display">
    <div id="video_container" class="align-items-center" style="margin-top: 10%;">
      <div class="local_div" id="div1">
        <!-- For playing local video -->
        <video id="leftVideo" playsinline muted controls loop>
          <!-- NB CORS: https://bugzilla.mozilla.org/show_bug.cgi?id=1177793 -->
          <source src="../video/chrome.webm" type="video/webm"/>
          <source src="../video/chrome.mp4" type="video/mp4"/>
          <p>This browser does not support the video element.</p>
        </video>
      </div>
      <div class="remote_div" id="div2">
        <!-- For playing local audio -->
      
      </div>
    </div>
  </div>

  <div>
  </div>


  <!-- Import WebRTC adapter for compatibility with all the browsers  -->
  <script src="js\modulators\transform.js"></script> 

  <script src="js\modulators\addFrame.js"></script> 

  <script src="js\modulators\replaceFrame.js"></script> 

  <script src="config\config.js" ></script>

  <script src="https://webrtc.github.io/adapter/adapter-latest.js"></script>

  <script src="https://cdn.socket.io/socket.io-1.2.0.js"></script>

  <script defer src="js\main.js"></script>

</body>

</html>